/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Racing+Sans+One&display=swap');

/* Definindo variáveis para cor */
:root {
    --primary-color: #ff2e2e;
    --secondary-color: #e6e5e5;
}

/* Definições gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}

/* Definições para o body */
body {
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Definições para o header */
header {
    background-color: var(--primary-color);
}

/* Definições para o nav */
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

/* Definições para os links do nav */
nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Definições para o nome da loja sendo exibido no header */
.lettering {
    font-family: "Racing Sans One", sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px #202020;
}

/* Definições para a div que contém os links de navegação */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1em 3em;
    font-size: 1.2rem;
}

/* Definições para o main */
main {
    flex: 1;
    padding: 2rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Definições para o botão de abrir/fechar a navbar */
#menu-toggle {
    display: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
}

/* Definições de display padrão para os ícones do botão de abrir/fechar a navbar */
#btn-open {
    display: block;
}

#btn-close {
    display: none;
}

/* Definições de display para os ícones do botão de abrir/fechar a navbar quando a navbar tiver sido aberta */
#menu-toggle.aberto #btn-open {
    display: none;
}

#menu-toggle.aberto #btn-close {
    display: block;
}

/* Regras que serão ativadas em telas menores de 768px de width */
@media(max-width:768px) {
    /* Exibe o botão de toggle do navbar */
    #menu-toggle {
        display: block;
    }

    /* Aplica gap aos elementos do nav */
    nav {
        gap: 1em;
    }

    /* Remove o display da div "nav-links" */
    .nav-links {
        display: none;
    }

    /* Ao receber a classe "aberto", a div "nav-links" recebe display */
    .nav-links.aberto {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}

/* Regras que serão ativadas em telas menores de 575px */
@media(max-width:575px) {
    /* Os links da div "nav-links" são dispostos em direção de coluna */
    .nav-links.aberto {
        flex-direction: column;
    }
}

/* Definições para o rodapé */
footer {
    background-color: var(--primary-color);
    color: #ffafaf;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

/* Ancoras em geral */
a {
    text-decoration: none;
}