/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Racing+Sans+One&display=swap');

/* Definindo variáveis para cor */
:root {
    --primary-color: #ff2e2e;
    --secondary-color: #e6e5e5;
}

/* Definições gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}

/* Definições para o body */
body {
    background-color: var(--secondary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Definições para o header */
header {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Definições para o nav */
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1em 2em;
}

/* Definições para os links do nav */
nav a {
    text-decoration: none;
    color: #fff;
}

/* Definições para o nome da loja sendo exibido no header */
.lettering {
    font-family: "Racing Sans One", sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px #202020;
}

/* Definições para a div que contém os links de navegação */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1em 3em;
    font-size: 1.2rem;
}

.nav-links #carrinho-link {
    position: relative;
}

.nav-links #carrinho-link p {
    font-weight: 600;
    position: absolute;
    top: -15px;
    left: 22px;
}

/* Definições para o main */
main {
    flex: 1;
    padding: 2rem 10%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    width: min(50rem, 100%);
    font-weight: 600;
    text-align: left;
}

/* Definição para as seções da página */
section {
    width: min(50rem, 100%);
}

section h2 {
    margin-bottom: 1rem;
}

/* Definições para o botão de abrir/fechar a navbar */
#menu-toggle {
    display: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
}

/* Definições de display padrão para os ícones do botão de abrir/fechar a navbar */
#btn-open {
    display: block;
}

#btn-close {
    display: none;
}

/* Definições de display para os ícones do botão de abrir/fechar a navbar quando a navbar tiver sido aberta */
#menu-toggle.aberto #btn-open {
    display: none;
}

#menu-toggle.aberto #btn-close {
    display: block;
}

/* Regras que serão ativadas em telas menores de 768px de width */
@media(max-width:768px) {
    /* Exibe o botão de toggle do navbar */
    #menu-toggle {
        display: block;
    }

    /* Aplica gap aos elementos do nav */
    nav {
        gap: 1em;
    }

    /* Remove o display da div "nav-links" */
    .nav-links {
        display: none;
    }

    /* Ao receber a classe "aberto", a div "nav-links" recebe display */
    .nav-links.aberto {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}

/* Regras que serão ativadas em telas menores de 575px */
@media(max-width:575px) {
    /* Os links da div "nav-links" são dispostos em direção de coluna */
    .nav-links.aberto {
        flex-direction: column;
    }
}

/* Regras que serão ativadas em telas menores de 425px */
@media(max-width:425px) {
    .lettering {
        width: 100%;
    }
}

/* Definições para o rodapé */
footer {
    background-color: var(--primary-color);
    color: #ffafaf;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

/* Ancoras em geral */
a {
    text-decoration: none;
}

hr {
    width: min(50rem, 100%);
}

/* Classes para estilizar botões */
.main-btn {
    padding: 10px;
    font-size: 1.2rem;
    border: 0;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.main-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: 0 0 2px #333;
}

.secondary-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.secondary-btn:hover {
    text-decoration: underline;
}

/* Classe comum a ser usada para exibir valores */
.valor {
    color: #074aa1;
    font-weight: bold;
}

/* Classe comum a ser usada para nomes de produtos que levam a 'produto.html' */
.produto-info a {
    color: #000;
}

.produto-info a:hover {
    color: #074aa1;
}

.produto-info a, .valor {
    font-size: 1.1rem;
}

/* Selects em geral */
select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

/* ============== Barra de pesquisa ===============*/
#search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#search-bar #search {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

#search-bar button {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

/* ======= Definições para os cards de produto ====== */
.item-produto {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    overflow-wrap: anywhere;
    padding: 5px;
}

.item-produto * {
    margin: 0;
}

.item-produto img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
}

/* Seção que contém as informações do produto */
.produto-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Definições para toast */
#toast {
    display: none;
    position: fixed;
    z-index: 3;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.2rem;
}

#toast.show {
    display: block;
    animation: fadein 0.5s forwards, fadeout 0.5s 2s forwards;
}

/* Animações de fadeIn e fadeOut do toast */
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 0.8;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 0.8;}
    to {top: 0; opacity: 0;}
}