/* Banner */
.banner {
    background-color: #111;
    background-image: url('../imagens/banner.jpeg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    min-height: 18rem;
    border-radius: 30px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.banner:last-child {
    background-image: url('../imagens/servico-banner.jpeg');
}

.banner div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.banner p {
    color: var(--secondary-color);
    align-content: center;
    font-size: 1.1rem;
}

.banner h2 {
    color: var(--secondary-color);
    margin: 0;
}

.banner ul {
    color: var(--secondary-color);
    padding-left: 1rem;
    font-size: 1.1rem;
}

.banner a {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 50px;
    align-self: flex-start;
    transition: all 0.2s ease-in-out;
}

.banner a:hover {
    transform: scale(1.05);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Definições para itens do splide carousel */
.splide {
    margin: 1rem 0;
    cursor: grab;
}

.splide:active {
    cursor: grabbing;
}

/* Setas do carousel */
.splide__arrows {
    position: absolute;
    top: 50%;
    right: -10%;
    width: 120%;
}

.splide__arrow--prev, .splide__arrow--next {
    background-color: var(--primary-color);
}

/* Paginação do carousel */
.splide__pagination {
    bottom: -5%;
}

.splide__pagination__page {
    background-color: #000;
}

.splide__pagination__page.is-active {
    background-color: var(--primary-color);
}

@media (max-width: 768px) {
    .splide__arrows {
        display: none;
    }
}

.item-produto {
    height: 100%;
}