/* Seção que contém foto e infos do produto */
#produto-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    align-items: center;
    gap: 1rem;
}

#produto-display img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#produto-display #info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

#produto-display #info span {
    font-weight: 600;
    color: var(--primary-color);
}

#produto-display #info #categoria-tipo {
    margin-bottom: 5px;
    color: #777;
}

#produto-display #info #valor { 
    color: #074aa1;
}

/* Seção abaixo da principal que mostra outros produtos para o cliente */
#outros-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 1rem;
}