/* Seção de display dos cards */
#card-display {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Cards individuais */
.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    border-radius: 10px;
    background-color: #333;
    color: var(--secondary-color);
}

.card img {
    width: 100%;
    max-height: 18rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px 0 0 10px; 
}

.card:nth-child(2) img {
    order: 1;
    border-radius: 0 10px 10px 0;
}

.card .card-info {
    padding: 1rem;
}

.card .card-info p {
    font-size: 1.2rem;
}

/* Link de orçamento */
a.main-btn {
    width: min(50rem, 100%);
    text-align: center;
    font-size: 1.6rem;
}

/* Media query para 640px */
@media (max-width: 640px) {
    .card img {
        border-radius: 10px 10px 0 0;
    }

    .card:nth-child(2) img {
        border-radius: 10px 10px 0 0;
        order: 0;
    }
}