/* Seção sobre a empresa */
.info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    border-radius: 30px;
}

.info img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
}

/* Media query para telas menores de 768px */
@media (max-width: 768px) {
    .info {
        grid-template-columns: 1fr;
    }
}

/* Seção contatos */
#contatos a {
    font-size: 1.4rem;
    color: #222;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    width: fit-content; 
}

#contatos a:hover {
    color: var(--primary-color);
}

/* Ícone */
#contatos a i {
    color: #124100;
    font-size: 1.4em;
}

/* Seção localização */
#localizacao {
    border-radius: 30px;
    min-height: 20rem;
}

#localizacao iframe {
    border: 0;
    border-radius: inherit;
    box-shadow: 0 0 1px #222;
    width: 100%;
    min-height: inherit;
}