/* Definições para o form */
form {
    background-color: #fff;
    box-shadow: 0 0 2px #202020;
    padding: 2em;
    max-width: 25em;
    border-radius: 10px;
}

/* Definições para as divs que contém cada input */
.input-box {
    position: relative;
    margin-bottom: 10px;
}

/* Definições para os labels do input-box */
.input-box label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

/* Definições para todas as labels */
label {
    font-weight: 600;
}

/* Definições para os inputs do input-box */
.input-box input {
    width: 100%;
    border: 0;
    box-shadow: 0 0 2px #202020;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1.1rem;
}

/* Definições para o ícone de esconder/mostrar senha do input de senha */
.input-box .show-hide-password {
    position: absolute;
    top: 55%;
    right: 2%;
    cursor: pointer;
}

/* Definições para o botão */
form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: block;
    width: 100%;
    border: 0;
    border-radius: 200px;
    font-size: 1.1rem;
    padding: 12px;
    margin: 1em 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

form button:hover {
    box-shadow: 0 0 5px #202020;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Definições para os links dentro do form */
form a {
    text-decoration: none;
    color: #ff2e2e;
}

/* Comportamento dos links dentro do form durante hover */
form a:hover {
    text-decoration: underline;
}

/* Definições para links como 'esqueci minha senha' e 'fazer cadastro' */
.form-link {
    margin: 10px 0;
}