/* Main */
main {
    flex-direction: column;
    gap: 2rem;
}

h1 {
    width: min(50rem, 100%);
    text-align: left;
}

/* Seção de filtros */
#filtros form {
    width: 100%;
    display: flex;
    gap: 10px 1rem;
}

#filtros form select {
    border: 1px solid #aaa;
    border-radius: 5px;
}

#filtros form button {
    border-radius: 10px;
    width: 100%;
}

@media(max-width:768px) {
    #filtros form {
        flex-wrap: wrap;
        justify-content: center;
    }

    #filtros form button {
        width: fit-content;
    }
}

/* Seção de paginação */
#paginacao {
    display: flex;
    gap: 5px;
}

#paginacao button {
    border: 0;
    padding: 10px;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.4rem;
    cursor: pointer;
}

#paginacao button:disabled {
    color: #aaa;
}

#paginacao button:hover {
    text-decoration: underline;
}

/* Grid de produtos */
#produtos-grid {
    /* variáveis locais */
    --gap: 2rem;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 2px;
    --line-color: #ccc;

    /* definições do grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: var(--gap);
    overflow: hidden;
    padding: 5px;
}

/* ======= Definições para os cards de produto ====== */
.item-produto {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    overflow-wrap: anywhere;
}

.item-produto * {
    margin: 0;
}

.item-produto img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
}

/* Seção que contém as informações do produto */
.produto-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.produto-info h3, .produto-info .valor {
    font-size: 1.1rem;
}

.produto-info .valor {
    color: #074aa1;
    font-weight: bold;
}

/* Definindo linhas de borda para a grid */
.item-produto::before, .item-produto::after {
    content: '';
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
}

.item-produto::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
}

.item-produto::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
}