/* Main */
main {
    flex-direction: column;
    gap: 2rem;
}

/* Seção sobre a empresa */
.info {
    position: relative;
    height: 30rem;
    border-radius: 30px;
}

.info img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.info-text {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secondary-color);
    background-color: rgb(0, 0, 0, .95);
    border-radius: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 5%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.info:hover .info-text {
    opacity: 1;
}

/* Media query para telas menores de 768px */
@media (max-width: 768px) {
    .info {
        height: auto;
    }

    .info-text {
        position: static;
        color: #000;
        background-color: transparent;
        opacity: 1;
        padding: 5% 0 0 0;
    }
}

/* Seção contatos */
#contatos a {
    font-size: 1.4rem;
    color: #222;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    width: fit-content; 
}

#contatos a:hover {
    color: var(--primary-color);
}

/* Ícone */
#contatos a i {
    color: #124100;
    font-size: 1.4em;
}

/* Seção localização */
#localizacao {
    border-radius: 30px;
    min-height: 20rem;
}

#localizacao iframe {
    border: 0;
    border-radius: inherit;
    box-shadow: 0 0 1px #222;
    width: 100%;
    min-height: inherit;
}