/* Main */
main {
    flex-direction: column;
}

/* Seção localização */
#localizacao {
    border-radius: 30px;
    min-height: 20rem;
}

#localizacao iframe {
    border: 0;
    border-radius: inherit;
    box-shadow: 0 0 1px #222;
    width: 100%;
    height: 100%;
}